<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Today Match</title>
</head>
<body>
    <div id="crawl-status"></div>
    <table id="result" border="2" style="border-collapse:collapse;">
        <caption id="total-result">MATCH NOT COMPLETE</caption>
        <tr class="title">
            <td>League Name</td>
            <td>Date Time</td>
            <td>Home Name</td>
            <td>Away Name</td>
            <td>Odd</td>
        </tr>
        <% for (let row of streak) { %>
            <tr>
                <td><%= row['league_name'] %></td>
                <td class="datetime"><%= row['datetime'] %></td>
                <td><%= row['home_name'] %></td>
                <td><%= row['away_name'] %></td>
                <td><%= row['odd_converted'] %></td>
            </tr>
         <% } %>
    </table>
    <table id="result-by-streak" border="2" style="border-collapse:collapse;">
        <caption class="total-result">MATCH NOT COMPLETE</caption>
        <tr class="title">
            <th>Streak ID</th>
            <th>League Name</th>
            <th>Date Time</th>
            <th>Home Name</th>
            <th>Away Name</th>
            <th>Odd</th>
            <th>Home Result</th>
            <th>Away Result</th>
        </tr>
        <% for (let item in dataStreak) { %>
            <tr>
                <th colspan="7">------------</th>
            </tr>
            <tr>
                <td rowspan=<%= dataStreak[item].length + 1 %>><%= item %></td>
            </tr>
            <% for (let row of dataStreak[item]) { %>
                <tr>
                    <td><%= row['league_name'] %></td>
                    <td><%= row['datetime'] %></td>
                    <td><%= row['home_name'] %> (<%= row['home_position'] %>)</td>
                    <td><%= row['away_name'] %> (<%= row['away_position'] %>)</td>
                    <td><%= row['odd_converted'] %></td>
                    <td><%= row['home_result'] %></td>
                    <td><%= row['away_result'] %></td>
                </tr>
             <% } %>
         <% } %>
    </table>
</body>
</html>