<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Page</title>
    <style>
        #result {
            margin: 150px auto;
        }
        #result tr td {
            padding: 10px;
        }

        #result .title td {
            background-color: blueviolet;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
        }

        .result-match {
            font-weight: 700;
            color: aliceblue;
        }

        .datetime {
            background-color: bisque;
        }

        #total-result {
            font-size: 30px;
        }
        .odd-title {
            margin: 0 auto;
            text-align: center;
            background-color: cyan;
        }
    </style>
</head>
<body>
    <table id="result" border="2" style="border-collapse:collapse;">
        <caption id="total-result">TOTAL RESULT</caption>
        <tr class="title">
            <td>League Name</td>
            <td>Date Time</td>
            <td>Home Name</td>
            <td>Away Name</td>
            <td>Result</td>
            <td>Position Range</td>
            <td>Odd</td>
        </tr>
        <% for (let row of rows) { %>
            <tr>
                <td><%= row['league_name'] %></td>
                <td class="datetime"><%= row['datetime'] %></td>
                <td><%= row['home_name'] %></td>
                <td><%= row['away_name'] %></td>
                <% if (row['result'] == 1) { %>
                    <td class="result-match" style="background: green">WIN</td>
                <% } else if (row['result'] == 0) { %>
                    <td class="result-match" style="background: red">LOSE</td>
                <% } else if (row['result'] == 10) { %>
                    <td class="result-match" style="background: purple">CHANGED ODD</td>
                <% } %>
                <td><%= row['position_range'] %></td>
                <td><%= row['odd'] %></td>
            </tr>
         <% } %>
    </table>

    <table id="result" border="2" style="border-collapse:collapse;">
        <caption id="total-result">RESULT BASED ON ODD</caption>
        <tr class="title">
            <td>League Name</td>
            <td>Date Time</td>
            <td>Home Name</td>
            <td>Away Name</td>
            <td>Result</td>
            <td>Position Range</td>
            <td>Odd</td>
        </tr>
        <% for (let odd of arrayOdd) { %>
            <% if (dataByOdd[odd].length) { %>
                <tr>
                    <td colspan="7" class="odd-title"><%= odd %></td>
                </tr>
                <% } %>
            <% for (let item of dataByOdd[odd]) { %>
                <tr>
                    <td><%= item['league_name'] %></td>
                    <td class="datetime"><%= item['datetime'] %></td>
                    <td><%= item['home_name'] %></td>
                    <td><%= item['away_name'] %></td>
                    <% if (item['result'] == 1) { %>
                        <td class="result-match" style="background: green">WIN</td>
                    <% } else if (item['result'] == 0) { %>
                        <td class="result-match" style="background: red">LOSE</td>
                    <% } %>
                    <td><%= item['position_range'] %></td>
                    <td><%= item['odd'] %></td>
                </tr>
            <% } %>
         <% } %>
    </table>
</body>
</html>